body{
    margin: 0;
    font-family: sans-serif;
    color: #f2f2f2;
    background-color: var(--background-color);
    /**background: linear-gradient(to bottom, #444, #000);**/
    background-repeat: no-repeat;
    background-size: cover; /* Ajustar tamaño del fondo para cubrir toda la pantalla */
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
}

:root {
    --primary-color: #a67153;/* Azul */
    --secondary-color: #a69981; /* Gris */
    --accent-color: #402217;/* Verde */
    --background-color: #f2ebd5; /*Gris claro*/
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
}

form{
    background-color: #875543;
    padding: 20px 0;
    max-width: 550px;
    max-height: 830px;
    margin: auto;
    box-shadow: 0 0 55px rgb(145 40 3 / 71%);
    margin-top: 150px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.form_input{
    padding: 5px 20px;
    font-size: 1em;
}

.form_input ::placeholder{
    color: #f2f2f2;
}


button, input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #fff8;
    box-shadow: 0 0 15px #ab522b;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    font-size: 0.90em;
    
}
option{
    background-color: #666;
    font-size: 0.80em;
}

a{
    text-decoration: none;
    font-size: 1em;
    color: #051F40;
}
    
    

textarea{
    font-family: sans-serif;
    min-width: 100%;
    resize: none;
    min-height: 100px;
    min-width: 200px;
}

label{
    font-size: 0.88em;
    line-height: 2;
}

.checkbox{
    width: 15px;
    height: auto;
}

fieldset{
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    padding: 8px 0 20px 0;
    margin: 20px;
}

legend{
    padding: 0 6px;
    color: #f2f2f2;
    font-size: 1.1em;
}