body{
    margin: 0;
    font-family: sans-serif;
    background-color:   var(--background-color)  ;
}

:root {
    --primary-color: #730707;
    --secondary-color: #590202; 
    --accent-color: #BFBFBF;
    --background-color: #F2F2F2; 
}

img{
    width: 200px;
}

svg {
    width: 24px;
    height: 24px;
    fill: #2D333F;
}

.container_nav{
    background-color: var(--secondary-color);
    display: flex ;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 50px;
    width: auto;
}

img{
    width: 200px;
}

.container_prin h1{
    margin: 0;
}   

.registro, .contacto{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

.derecha a{
    color: #000;
}

.izquierda a{
    color: #fff;
}

.boton{
    background-color: var(--primary-color) ;
    color: #fff;
    width: 115px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.boton_nav{
    background-color: var(--accent-color);
    color: #000;
    width: 115px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.boton a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px; 
    color: white;
    text-decoration: none;
}


/* Apartado de la configuracion del contenedor principal con imagen */

.container_prin{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.img-zoom {
    margin-left: 2.5%;
    width: 95%;
    height: 350px;  
    overflow: hidden; 
    text-align: center;
    position: relative;
    display: inline-block;
}

.img-zoom img {
    width: 100%; 
    height: 450px;
    object-fit: cover;
    object-position: 0px -200px;
}

.container_sections {
    display: flex;
    gap: 0;
    margin: 0;
    align-items: flex-start;
}

/* Apartado de la informacion general */

.informacion {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.informacion h1 {
  font-size: 2.5rem;
  color: #730707;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
}

.informacion p {
  font-size: 1.25rem;
  color: #25343b;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.2;
  font-weight: 500;
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
  padding: 15px 24px 45px ;
  box-shadow: 0 2px 8px rgba(250, 204, 21, 0.08);
}
.box {
    flex: 1;
    margin: 0 20% 0 20%;
    box-sizing: border-box; 
    border-right: none;
    display: block;
}

.btn-reservar {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 320px;
    display: block;
    margin: 0 auto;
    font-size: 1.10rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 16px rgba(115, 7, 7, 0.12);
    transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
    visibility: hidden;
  }

.btn-reservar:hover {
  background-color: #590202;
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(77, 5, 5, 0.18);
}


/* Apartado del menu de detalles */

.detalles {
  border-radius: 16px;
  background-color: #e3e3e3;
  width: 85%;
  max-width: 900px;
  margin: 30px auto;
  padding: 25px 2px 20px 2px;
  box-shadow: 0 8px 32px rgba(69, 4, 4, 0.318);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalles img {
  width: 85%;
  max-width: 1000px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
}

.detalles img:hover {
  transform: scale(0.90);
}

.detalles img.gps {
  width: 80%;
  max-width: 2000px;
  transition: transform 0.3s ease;
}

.detalles img.gps:hover {
  transform: scale(1.05);
}

.detalles h1 {
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 2rem;
  color: #25343b;
}

.detalle-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  align-items: flex-start;
}

.detalle-item svg {
  flex-shrink: 0;
  margin-right: -5px;
}

.detalle-item span {
  font-weight: bold;
  width: auto;
}

.detalle-item p {
  margin: 0;
  font-size: 1.05rem;
  color: #555;
  width: 100%;
}

.txt-detalles a {
  display: flex;
  margin: 0;
  font-size: 1.05rem;
  color: #25343b;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.detalles-columnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  width: 100%;
  margin-bottom: 10px;
}

.detalle-1{
  margin-left: 30%;
}

.detalle-2{
  margin-right: 20%;
  padding-left: 10%;
}


/* Apartado del menu de comidas */

.menu-comida {
  /* background-color: #e3e3e3;
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 2px 20px rgba(69, 4, 4, 0.318); */
  position: relative;
  margin-bottom: 130px;
}

.menu-comida h1 {
  color: #000;
  text-align: center;
  padding: 10px 0 20px 0;
}

.menu-container {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-wrapper {
  overflow: hidden; /* oculta los elementos fuera de vista */
  width: 700px; 
  margin: auto;
}

.menu {
  display: flex;
  transition: transform 0.5s ease; 
}

.card {
  background: #e9e9e9;
  border-radius: 16px;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.439);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 210px;
  min-width: 210px;
  margin: 0 10px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 1rem;
}

.card h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #0f172a;
}

.card p {
  color: #475569;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  line-height: 1.4;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #22c55e;
}

.arrow {
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px;
  border-radius: 15%;
  transition: background 0.3s;
  z-index: 2;
}

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

.left {
  position: absolute;
  left: 15px;
}

.right {
  position: absolute;
  right: 15px;
}

.rating {
  margin-top: 8px;
  font-size: 1rem;
  color: #facc15;
  font-weight: bold;
}

 /* Apartado del los botones de reservas */

.btn {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.6rem 1rem;
  background: #ef4444;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #dc2626;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.user-info h3 {
  margin: 0;
  font-size: 1rem;
  color: #0f172a;
}

.stars {
  color: #facc15;
  font-size: 1rem;
}

h1 {
  text-align: center;
  color: #1e293b;
  margin-bottom: 2rem;
}

/* boton flotante */

.btn-reserva-float {
  background: #821919;
  color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
  margin: 10px 10px 10px 10px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

/* Círculo blanco interno */
.btn-reserva-float::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.btn-reserva-float span {
  position: absolute;
  text-align: center;
  transition: all 0.4s ease;
  opacity: 0;
}

.btn-reserva-float .short {
  opacity: 1;
  font-size: 23px;
  font-weight: bold;
}

.btn-reserva-float .long {
  font-size: 20px;
  line-height: 1.2;
  transform: translateY(10px);
}

.btn-reserva-float:hover {
  border-radius: 20px;
  width: 250px;
  height: 100px;
}

.btn-reserva-float:hover::before {
  width: 0;
  height: 0;
  border: none;
}

.btn-reserva-float:hover .short {
  opacity: 0;
  transform: scale(0.8);
}

.btn-reserva-float:hover .long {
  opacity: 1;
  transform: translateY(0);
}

 /* Apartado del pie de pagina */

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
   
}

footer ul{
    list-style: none;   
}
