:root{    
    --primary-color: #a67153;
    --secondary-color: #a69981; 
    --accent-color: #402217;
    --background-color: #f2ebd5; 
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--background-color);
    
}

.fondo {
    background-image: 
        linear-gradient(
            to left,
            rgba(166, 113, 83, 0) 30%,   /* transparente */
            var(--primary-color) 100%
        ),
        url("https://www.winterhalter.com/fileadmin/user_upload/Website/Mexico/Blog/Como_financiar_tu_restaurante.jpg");
    
    background-size: cover;         /* Ajusta la imagen al 100% */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 953px;
}

.contain{
    margin: 0;
    padding: 280px 250px;
    color: white;
    /* background-color: green; */
    width: 500px;
}

.contain h1{
    margin: 0;
    text-align: center;
    font-size: 2em;
}

.contain p{
    text-align: center;
    /* background-color: red; */
    justify-content: center;
    width: 500px;
    font-size: 1.5em;
}

.contain a{
    background-color: var(--accent-color);
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color:white;
    margin-left: 170px;
}

.contain a{
    background-color: var(--accent-color);
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color:white;
    margin-left: 170px;
}

img{
    padding-left: 25px;
    width: 190px;
}