<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/login.css">
    <title>Iniciar sesion</title>
</head>
<body>
       <form id="forminiar_sesión">
        <h2>Iniciar sesion</h2>

        <!--Informacion Basica-->
       
            <div class="form_input">
                <label for="Nombre">Nombre de usuario o correo</label>
                <input type="text" id="Nombre" name="id_usuario" required>
            </div>
            
            <div class="form_input">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>

        <div class="form_input">
            <button type="submit" id="Iniciar secion"  name="iniciar secion">Iniciar sesión</button>
        </div>
    </form>
    
</body>
</html>