{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/quienes_somos.css' %}">
    <link rel="icon" href="{% static 'IMG/logo 2.png' %}" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">¿Quiénes somos?</h1>
    <div class="equipo-container">
        <h2 class="subtitulo">Nuestro equipo</h2>
        <ul class="equipo-lista">
            <li class="miembro">
                <strong class="nombre">Toshi Pedrozo</strong>: Encargado principal del desarrollo del frontend de la página, responsable de diseñar y construir la interfaz de usuario, asegurando una experiencia visual atractiva, intuitiva y funcional para todos los visitantes. Su dedicación se refleja en cada detalle visual y en la usabilidad del sitio.
            </li>
            <li class="miembro">
                <strong class="nombre">Jesús Amarilla</strong>: Especialista en el apoyo al desarrollo del frontend y colaborador clave en diversas áreas del backend. Su versatilidad y conocimientos técnicos permiten integrar funcionalidades complejas y mantener una comunicación fluida entre el diseño y la lógica del sistema.
            </li>
            <li class="miembro">
                <strong class="nombre">Rodrigo Aveiro</strong>: Responsable del backend, encargado de la arquitectura, desarrollo y mantenimiento de la lógica interna de la aplicación. Garantiza la seguridad, eficiencia y escalabilidad del sistema, asegurando que todos los procesos funcionen correctamente detrás de escena.
            </li>
            <li class="miembro">
                <strong class="nombre">Tobias Mendieta</strong>: Encargado de la documentación y soporte constante al equipo. Se ocupa de crear y mantener la documentación técnica y de usuario, facilitando la comprensión y el uso del sistema, además de brindar ayuda continua para resolver dudas y mejorar los procesos internos.
            </li>
        </ul>
    </div>
</body>
</html>