{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>
<body>
    <div class="container-login">
        <form id="formLogin" class="login" method="POST">
            {% csrf_token %}
            <h2>Inicio de Sesión</h2>
            <div class="form_input">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form_input">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form_input">
                <button type="submit">Iniciar Sesión</button>
            </div>
            {% load socialaccount %}
            <div class="container-otros">
                <a href="{% provider_login_url 'google' %}" class="google-login-btn">
                    <img src="https://i.blogs.es/dc6737/unnamed/650_1200.png" alt="google icon">
                    Iniciar con Google
                </a>
            </div>
        </form>
    </div>
    <div id="mensaje"></div>
    <script>
        window.SERVER_HOST = "{{ SERVER_HOST }}";
    </script>
    <script src="{% static 'JS/config.js' %}"></script>
    <script src="{% static 'JS/login.js' %}"></script>
</body>
</html>
