<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bienvenida-priv.css">
    <title>ReservaYa</title>
</head>
<body>
    <div class="fondo">
        <!-- Logo que lleva a la página principal -->
        <div class="logo">
            <a href="../html/principal_publi.html">
                <img src="../../../reserva ya.svg" alt="logo de aplicacion">
            </a>
        </div>
        
        <!-- Contenido principal de bienvenida -->
        <div class="contain">
            <div class="bienvenida">
                <h1>Bienvenido a nuestra app de reservas</h1>
                <p>
                    Inicia sesion presionando el botón de abajo. 
                    Te redirigirá al login de restaurantes donde podrás 
                    acceder y gestionar tu restaurante en <b>ReservaYA</b>, 
                    la manera más fácil y rápida de administrar tus reservas 
                    y sucursales.
                </p>
            </div>
            <div class="btn_pag">
                <!-- Botón que ahora lleva al LOGIN -->
                <a href="principal_priv.html">ReservaYA</a>
            </div>
        </div>
    </div>
    
</body>
</html>
