<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/principal_priv.css">
    <title>ReservaYa</title>
</head>
<body>
  <!-- Sidebar -->
    <div class="sidebar">
        <h2>Restaurante</h2>
        <a href="#">Reservas</a>
        <a href="#">Menú</a>
        <a href="#">Sucursales</a>
        <a href="#">Configuración</a>
    </div>
    <main>
        <div class="main">
            <h1>Panel de Control</h1>

            <div class="card">
                <h2>Reservas de Hoy</h2>
                <p>No hay reservas registradas.</p>
                <button class="btn">Agregar Reserva</button>
            </div>

            <div class="card">
                <h2>Menú</h2>
                <p>Aquí iría la lista de platos.</p>
                <button class="btn">Agregar Plato</button>
            </div>

            <div class="card">
                <h2>Sucursales</h2>
                <p>Aquí irían las sucursales registradas.</p>
                <button class="btn">Agregar Sucursal</button>
            </div>
        </div>
    </main>
</body>
</html>