<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/registro.css">
    <title>Resgistrarse</title>
</head>
<body>
       <form id="formregistro">
        <h2>Resgistrarse</h2>

        <!--Informacion Basica-->
            <div class="form_input">
                <label for="Nombre">Nombre</label>
                <input type="text" placeholder="Juan" id="Nombre" name="nombre_completo" required>
            </div>
            
            <div class="form_input">
                <label for="apellido">Apellido</label>
                <input type="text" placeholder="Gonzalez" id="apellido" name="apellido" required>
            </div>

            <div class="form_input">
                <label for="correo">Conreo Electronico</label>
                <input type="text" placeholder="juan123@gmail.com" id="correo" name="correo" required>
            </div>
            
            <div class="form_input">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>

     
        
        <div class="form_input">
            <button type="submit" name="registro">Registrarse</button>
        </div>
    </form>

    <script src="../../static/js/script.js"></script>
    
</body>
</html>